---
import StepCard from './StepCard.astro';
import { markdownify } from '@/lib/text-converter';
import { Section } from '@/components/ui/section';
import { brandsGroup1, brandsGroup2, brandsGroup3, brandsGroup4, brandsGroup5 } from '@/lib/assets';

const businessNeeds = {
    enable: true,
    title: 'The 5 things every <strong>Business Needs</strong>',
    items: [
        {
            image: brandsGroup1,
            number: '01',
            title: 'TRAFFIC',
            content:
                'Drive more high-quality local leads to your business through optimized Google search and social visibility.',
        },
        {
            image: brandsGroup2,
            number: '02',
            title: 'CAPTURE',
            content:
                'Convert website visitors into real conversations using web chat widgets and fast lead capture forms.',
        },
        {
            image: brandsGroup3,
            number: '03',
            title: 'NURTURING',
            content: 'Automatically follow up with every lead via SMS and email so no one slips through the cracks.',
        },
        {
            image: brandsGroup4,
            number: '04',
            title: 'CONVERT',
            content:
                'Turn prospects into paying customers by making appointment booking and payments incredibly simple.',
        },
        {
            image: brandsGroup5,
            number: '05',
            title: 'REFER',
            content:
                'Automatically request 5-star Google reviews from happy customers to drive even more organic traffic.',
        },
    ],
};
---

{
    businessNeeds.enable && (
        <Section class="relative isolate">
            <div class="container">
                <div class="flex flex-col gap-10 lg:gap-16">
                    <div class="flex flex-col items-center gap-y-5 text-center">
                        <h2 class="mx-auto mb-2 text-h3 lg:col-10 lg:text-h2 [&_strong]:text-primary" set:html={markdownify(businessNeeds.title)} />
                    </div>
                    <div class="mb-0">
                        <div class="flex flex-col gap-y-2 px-4">
                            {businessNeeds.items.map((item) => (
                                <StepCard
                                    image={item.image}
                                    number={item.number}
                                    title={item.title}
                                    content={item.content}
                                />
                            ))}
                        </div>
                    </div>
                </div>
            </div>
        </Section>
    )
}
