---
import FeatureCard from '@/components/FeatureCard.astro';
import { Section } from '@/components/ui/section';

import type { ImageMetadata } from 'astro';

interface FeatureItem {
    logo: ImageMetadata | string;
    title: string;
    is_starred: boolean;
}

interface OurFeaturesSection {
    badge?: string;
    title: string;
    content?: string;
    items: FeatureItem[];
}

interface Props {
    our_features: OurFeaturesSection;
}

const { our_features } = Astro.props;
---

<Section variant="box" class="mx-5 relative isolate overflow-hidden">
    <div class="container">
        <div class="flex flex-col gap-10 lg:gap-16">
            <div class="flex flex-col items-center gap-y-5 text-center">
                <h2 class="mx-auto mb-2 text-h3 lg:col-10 lg:text-h2 [&_strong]:text-primary" set:html={our_features.title} />
                <p class="mx-auto text-lg text-text lg:col-7">{our_features.content}</p>
            </div>
            <div class="mb-0">
                <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 border-r border-text-light/5 border-b">
                    {
                        our_features.items.map((item) => (
                            <FeatureCard logo={item.logo} title={item.title} is_starred={item.is_starred} />
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</Section>
