---
import { SiteLayout } from '@/layouts/site-layout';
import Badge from '@/components/Badge.astro';
import BrandsCarousel from '@/components/BrandsCarousel.astro';
import CallToAction from '@/components/CallToAction.astro';
import Faq from '@/components/Faq.astro';
import GradientBlob from '@/components/GradientBlob.astro';
import ImageMod from '@/components/ImageMod.astro';
import OurStory from '@/components/OurStory.astro';
import TeamCard from '@/components/TeamCard.astro';
import { getListPage } from '@/lib/contentParser.astro';
import { markdownify } from '@/lib/utils/textConverter';
import Features from '@/components/partials/Features.astro';
import Testimonial from '@/components/partials/Testimonial.astro';
import type { About } from '@/types';

const about = await getListPage('about', '-index');
const aboutData: About = about.data;
---

<SiteLayout {...aboutData} title="About Us" description="Learn about the team behind Quick Office and our mission to help local businesses grow.">
    <!-- Page Header -->
    <section class="section-ph pb-20 overflow-hidden">
        <div class="container">
            <div class="lg:max-w-4xl mx-auto text-center">
                <h1 class="hasHighlight mb-6" set:html={markdownify(aboutData.page_header.title)} />
                <p class="mb-5 text-lg text-text">{aboutData.page_header.subtitle}</p>
                <ImageMod
                    src={aboutData.page_header.image}
                    alt="Team collaboration meeting"
                    class="w-full h-auto object-cover aspect-video lg:aspect-1000/520 rounded-3xl mt-20"
                />
            </div>
            <div class="absolute inset-0 h-full w-full max-h-113 overflow-hidden -z-10">
                <canvas class="heroSporeCanvas w-full opacity-70"></canvas>
            </div>
        </div>
    </section>
    <hr class="border-border" />

    <!-- Trusted By Section -->
    <BrandsCarousel />

    <!-- Stats Section -->
    {
        aboutData.stats.enable && (
            <section class="section relative">
                <div class="container">
                    <div class="grid grid-cols-2 lg:grid-cols-4 gap-2">
                        {aboutData.stats.items.map((stat: any) => (
                            <div class="text-center p-8 lg:p-10 lg:py-26 rounded-2xl bg-primary/10">
                                <div class="text-h2 lg:text-h1 leading-none font-bold font-secondary text-text-dark mb-4">
                                    {stat.value}
                                </div>
                                <p class="text-text text-h6">{stat.label}</p>
                            </div>
                        ))}
                    </div>
                </div>
                <div class="-translate-y-140">
                    <GradientBlob />
                </div>
            </section>
        )
    }

    <!-- CEO Letter Section -->
    <OurStory />

    <!-- Meet Our Team Section -->
    {
        aboutData.our_team.enable && (
            <section class="section relative isolate overflow-hidden">
                <div class="container">
                    <div class="section-container">
                        <div class="section-intro centralize">
                            <Badge title={aboutData.our_team.badge} />
                            <h2 class="title hasHighlight" set:html={markdownify(aboutData.our_team.title)} />
                        </div>
                        <div class="section-content">
                            <div class="grid grid-cols-2 lg:grid-cols-4 gap-6">
                                {aboutData.our_team.members.map((member: any) => (
                                    <TeamCard image={member.image} name={member.name} role={member.role} />
                                ))}
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        )
    }

    <!-- Core Values -->
    {aboutData.core_values.enable && <Features our_features={aboutData.core_values} />}

    <!-- Testimonials Section -->
    <Testimonial />

    <!-- FAQ -->
    <Faq />

    <!-- Call to Action -->
    <CallToAction />
</SiteLayout>
