---
import FeatureCard from '@/components/FeatureCard.astro';

import type { ImageMetadata } from 'astro';

interface FeatureItem {
    logo: ImageMetadata | string;
    title: string;
    is_starred: boolean;
}

interface OurFeaturesSection {
    badge?: string;
    title: string;
    content?: string;
    items: FeatureItem[];
}

interface Props {
    our_features: OurFeaturesSection;
}

const { our_features } = Astro.props;
---

<section class="section-box mx-5 relative isolate overflow-hidden">
    <div class="container">
        <div class="section-container">
            <div class="section-intro centralize">
                <h2 class="title hasHighlight" set:html={our_features.title} />
                <p class="subtitle">{our_features.content}</p>
            </div>
            <div class="section-content">
                <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 border-r border-text-light/5 border-b">
                    {
                        our_features.items.map((item) => (
                            <FeatureCard logo={item.logo} title={item.title} is_starred={item.is_starred} />
                        ))
                    }
                </div>
            </div>
        </div>
    </div>
</section>
