---
import { logo } from '@/lib/assets';
import { markdownify } from '@/lib/text-converter';

import { Social } from '@/components';
import { Container } from '@/components/ui/container';

const footerTagline = 'Empowering Marketing businesses through intelligent automation.';
const footerEmail = 'contact@quick-office.com';
const footerPhone = '(+1) 165-320-0102';
const copyright = 'Copyright &copy; 2026 <strong>Quick Office</strong> All Rights Reserved';

const footerPrimary = [
    { name: 'Home', url: '/' },
    { name: 'About Us', url: '/about' },
    { name: 'Features', url: '/features' },
    { name: 'Pricing', url: '/pricing' },
    { name: 'Contact', url: '/contact' },
];

const footerResource = [{ name: 'Blog', url: '/blogs' }];

const footerLegal = [
    { name: 'Privacy Policy', url: '/privacy-policy' },
    { name: 'Terms and Conditions', url: '/term-and-condition' },
];

const socialLinks = [
    { name: 'instagram', icon: 'FaInstagram', link: 'https://www.instagram.com/' },
    { name: 'youtube', icon: 'FaYoutube', link: 'https://www.youtube.com/' },
];
---

<footer class="relative py-16 xl:py-19 pb-0 overflow-hidden">
    <Container class="pb-10">
        <div class="flex lg:justify-between flex-wrap gap-x-10 gap-y-10">
            <!-- Column 1 - Logo & Contact -->
            <div class="max-w-95 mb-20 text-lg text-text">
                <img src={logo} width={156} height={50} class="h-12.5" alt="logo" loading="lazy" />
                <p class="mt-6">{footerTagline}</p>
                <a class="text-text-dark underline transition-colors duration-200 hover:text-primary mt-6 inline-block" href={`mailto:${footerEmail}`}>{footerEmail}</a>
                <a class="text-text-dark underline transition-colors duration-200 hover:text-primary mt-4 block" href={`tel:${footerPhone}`}>{footerPhone}</a>
            </div>
            <!-- Column 2 - Primary -->
            <div>
                <h3 class="mb-11 text-h6 font-semibold text-text-dark">Primary</h3>
                <ul>
                    {
                        footerPrimary.map((item) => (
                            <li class="mb-5">
                                <a
                                    href={item.url}
                                    class="text-text transition-colors duration-200 hover:text-text-dark"
                                >
                                    {item.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <!-- Column 3 - Resource -->
            <div>
                <h3 class="mb-11 text-h6 font-semibold text-text-dark">Resource</h3>
                <ul>
                    {
                        footerResource.map((item) => (
                            <li class="mb-5">
                                <a
                                    href={item.url}
                                    class="text-text transition-colors duration-200 hover:text-text-dark"
                                >
                                    {item.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
            <!-- Column 4 - Legal -->
            <div>
                <h3 class="mb-11 text-h6 font-semibold text-text-dark">Legal</h3>
                <ul>
                    {
                        footerLegal.map((item) => (
                            <li class="mb-5">
                                <a
                                    href={item.url}
                                    class="text-text transition-colors duration-200 hover:text-text-dark"
                                >
                                    {item.name}
                                </a>
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </Container>
    <!-- Bottom Area -->
    <hr class="border-border" />
    <Container class="py-7">
        <div class="flex justify-between lg:items-center flex-col lg:flex-row gap-y-6 w-full">
            <p class="text-base text-text" set:html={markdownify(copyright)} />
            <Social className="lg:ml-auto" source={socialLinks} />
        </div>
    </Container>
</footer>
