---
import Logo from './Logo.astro';
import { Button } from '@/components/ui/button';

import { registerLink } from '@/lib/config';

interface Props {
    stickyHeader: boolean;
}

const { stickyHeader } = Astro.props;

type TNavigationLink = {
    name: string;
    url: string;
    hasChildren?: boolean;
    children?: { name: string; url: string }[];
};

const navigationLinks: TNavigationLink[] = [
    { name: 'Features', url: '/features' },
    { name: 'Pricing', url: '/pricing' },
    { name: 'Blog', url: '/blogs' },
    { name: 'About', url: '/about' },
    { name: 'Contact', url: '/contact' },
];

const secendaryAction = {
    label: 'Book A Demo',
    link: '/contact',
};

const primaryAction = {
    label: 'Start Free Trial',
    link: registerLink,
};

const { pathname } = Astro.url;
---

<header
    class={`header left-0 z-50 w-full bg-transparent py-6 transition-all duration-700 ${stickyHeader ? 'fixed top-0' : ''}`}
>
    <nav class="mx-auto px-8 xl:max-w-330.5! relative z-30 flex flex-wrap items-center justify-between">
        <!-- logo -->
        <div class="order-0 bg-white/70 backdrop-blur-lg rounded-2xl lg:rounded-full lg:corner-squircle px-4 py-2">
            <Logo />
        </div>
        <!-- navbar toggler -->
        <input id="nav-toggle" type="checkbox" class="peer hidden" />
        <label
            for="nav-toggle"
            class="order-3 cursor-pointer flex items-center lg:hidden text-text-dark lg:order-1 bg-black/10 backdrop-blur-lg size-12 rounded-xl justify-center"
        >
            <svg id="show-button" class="h-6 fill-current peer-checked:hidden" viewBox="0 0 20 20">
                <title>Menu Open</title>
                <path d="M0 3h20v2H0V3z m0 6h20v2H0V9z m0 6h20v2H0V0z"></path>
            </svg>
            <svg id="hide-button" class="h-6 fill-current hidden" viewBox="0 0 20 20">
                <title>Menu Close</title>
                <polygon
                    points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                    transform="rotate(45 10 10)"></polygon>
            </svg>
        </label>
        <!-- /navbar toggler -->
        <ul
            id="nav-menu"
            class="order-3 text-center lg:text-left bg-white/70 hidden peer-checked:flex-col lg:flex w-full py-6 max-lg:mt-5 lg:order-1 lg:w-auto lg:gap-x-2 lg:py-0 xl:gap-x-8 backdrop-blur-lg rounded-2xl lg:rounded-full lg:corner-squircle px-6"
        >
            {
                navigationLinks.map((menu) => (
                    <>
                        {menu.hasChildren ? (
                            <li class="mr-0 group relative">
                                <input type="checkbox" id={`submenu-${menu.name}`} class="peer hidden lg:hidden" />
                                <label
                                    for={`submenu-${menu.name}`}
                                    class={`cursor-pointer p-3 font-normal text-text-dark transition hover:text-primary lg:px-2 lg:py-3 inline-flex items-center ${
                                        menu.children?.map(({ url }) => url).includes(pathname) ||
                                        menu.children?.map(({ url }) => `${url}/`).includes(pathname)
                                            ? 'active'
                                            : ''
                                    }`}
                                >
                                    {menu.name}
                                    <svg class="h-4 w-4 fill-current" viewBox="0 0 20 20">
                                        <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z" />
                                    </svg>
                                </label>
                                <ul class="z-10 min-w-45 rounded bg-body p-4 shadow-sm hidden lg:invisible lg:absolute lg:block lg:opacity-0 lg:group-hover:visible lg:group-hover:opacity-100">
                                    {menu.children?.map((child) => (
                                        <li class="not-last:mb-2">
                                            <a
                                                href={child.url}
                                                aria-label={child.name}
                                                class={`block py-1 font-semibold text-text-dark transition hover:text-primary ${
                                                    (pathname === `${child.url}/` || pathname === child.url) && 'active'
                                                }`}
                                            >
                                                {child.name}
                                            </a>
                                        </li>
                                    ))}
                                </ul>
                            </li>
                        ) : (
                            <li>
                                <a
                                    href={menu.url}
                                    class={`cursor-pointer p-3 font-normal text-text-dark transition hover:text-primary lg:px-2 lg:py-3 block ${
                                        (pathname === `${menu.url}/` || pathname === menu.url) && 'active'
                                    }`}
                                >
                                    {menu.name}
                                </a>
                            </li>
                        )}
                    </>
                ))
            }
            <li class="pt-4 inline-block lg:hidden">
                <Button href={primaryAction.link} variant="outline" size="sm">
                    {primaryAction.label}
                </Button>
            </li>
        </ul>
        <div class="order-1 gap-4 ml-auto flex items-center md:order-2 lg:ml-0">
            <Button href={secendaryAction.link} variant="outline" class="hidden lg:inline-block">
                {secendaryAction.label}
            </Button>
            <Button href={primaryAction.link} variant="primary" class="hidden lg:inline-block">
                {primaryAction.label}
            </Button>
        </div>
    </nav>
    <!-- expanded menu background -->
    <div class="bg-black/20 backdrop-blur-sm -z-10" id="nav-menu-bg"></div>
</header>
