---
import Badge from './Badge.astro';
import { Button } from '@/components/ui/button';
import { Section } from '@/components/ui/section';
import { markdownify } from '@/lib/text-converter';

const cta = {
    enable: true,
    badge: 'Get Started Today',
    title: 'Ready to take control of your <strong>business finances?</strong>',
    description: 'Join hundreds of businesses using Quick Office. Start free, no card required.',
    button: {
        enable: true,
        label: 'Start My Free Trial',
        link: '/pricing',
    },
};
---

{
    cta.enable && (
        <Section>
            <div class="container bg-light py-20 rounded-4xl relative overflow-hidden isolate">
                <div class="flex flex-col gap-10 lg:gap-16">
                    <div class="flex flex-col items-center gap-y-5 text-center">
                        <Badge title={cta.badge} />
                        <h2 class="mx-auto mb-2 text-h3 lg:text-h2 [&_strong]:text-primary lg:col-7" set:html={markdownify(cta.title)} />
                        <p class="mx-auto text-text text-h6-sm lg:col-6">{cta.description}</p>
                        {cta.button.enable && cta.button.link && (
                            <Button href={cta.button.link} class="mt-9">
                                {cta.button.label}
                            </Button>
                        )}
                    </div>
                </div>
                <div class="absolute top-1/2 -translate-y-1/2 h-1/2 w-full overflow-hidden">
                    <canvas class="heroSporeCanvas w-full" />
                </div>
            </div>
        </Section>
    )
}
